ECHO is on.
# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js     text
*.css    text
*.html   text

# Declare files that will have CRLF line endings on checkout.
*.bat    text eol=crlf

# Declare files that will have LF line endings on checkout.
*.sh     text eol=lf

# Binary files should be treated as binary and not modified.
*.png    binary
*.jpg    binary
